USE [master]
GO
/****** Object:  Database [SistemaTickets]    Script Date: 20/07/2025 20:33:39 ******/
CREATE DATABASE [SistemaTickets]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaTickets', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQL2020\MSSQL\DATA\SistemaTickets.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaTickets_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQL2020\MSSQL\DATA\SistemaTickets_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaTickets].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaTickets]
GO
/****** Object:  Table [dbo].[BitacoraTickets]    Script Date: 20/07/2025 20:33:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraTickets](
	[Id] [int] NOT NULL,
	[UsuarioId] [int] NULL,
	[Tipo] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Categoria] [nvarchar](50) NULL,
	[Estado] [nvarchar](50) NULL,
	[Evidencia] [varbinary](max) NULL,
	[FechaIngreso] [datetime] NULL,
	[SoportistaAsignadoId] [int] NULL,
	[FechaFinalizado] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seguimientos]    Script Date: 20/07/2025 20:33:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seguimientos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 20/07/2025 20:33:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NULL,
	[Tipo] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Categoria] [nvarchar](20) NULL,
	[Estado] [nvarchar](50) NULL,
	[Evidencia] [varbinary](max) NULL,
	[FechaIngreso] [datetime] NULL,
	[SoportistaAsignadoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 20/07/2025 20:33:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Cedula] [nvarchar](20) NULL,
	[Departamento] [nvarchar](100) NULL,
	[Contacto] [nvarchar](20) NULL,
	[Correo] [nvarchar](100) NULL,
	[Tipo] [nvarchar](50) NULL,
	[Rol] [nvarchar](50) NULL,
	[Activo] [bit] NULL,
	[Contrasena] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Seguimientos] ON 

INSERT [dbo].[Seguimientos] ([Id], [TicketId], [Descripcion], [Fecha]) VALUES (4, 3, N'aun no sirve', CAST(N'2025-07-09T12:06:14.440' AS DateTime))
INSERT [dbo].[Seguimientos] ([Id], [TicketId], [Descripcion], [Fecha]) VALUES (6, 5, N'bien', CAST(N'2025-07-09T18:37:46.050' AS DateTime))
INSERT [dbo].[Seguimientos] ([Id], [TicketId], [Descripcion], [Fecha]) VALUES (7, 3, N'sdfd', CAST(N'2025-07-09T18:54:12.067' AS DateTime))
SET IDENTITY_INSERT [dbo].[Seguimientos] OFF
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([Id], [UsuarioId], [Tipo], [Descripcion], [Categoria], [Estado], [Evidencia], [FechaIngreso], [SoportistaAsignadoId]) VALUES (4, 4, N'Software', N'no me sirve powerpoint', N'Alto', N'Abierto', NULL, CAST(N'2025-07-09T18:06:54.290' AS DateTime), 7)
INSERT [dbo].[Tickets] ([Id], [UsuarioId], [Tipo], [Descripcion], [Categoria], [Estado], [Evidencia], [FechaIngreso], [SoportistaAsignadoId]) VALUES (5, 4, N'Hardware', N'el mousepad se rompio', N'Medio', N'Abierto', NULL, CAST(N'2025-07-09T18:07:24.367' AS DateTime), 6)
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Nombre], [Cedula], [Departamento], [Contacto], [Correo], [Tipo], [Rol], [Activo], [Contrasena]) VALUES (2, N'Daniel', N'703070050', N'soporte ', N'858585858', N'daniel030431@gmail.com', N'redes', N'Supervisor', 1, N'1234')
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Cedula], [Departamento], [Contacto], [Correo], [Tipo], [Rol], [Activo], [Contrasena]) VALUES (4, N'daniela', N'703070050', N'soporte ', N'63999539', N'dani@gmail.com', N'Software', N'Usuario', 1, N'1234')
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Cedula], [Departamento], [Contacto], [Correo], [Tipo], [Rol], [Activo], [Contrasena]) VALUES (5, N'Rachell', N'20340940', N'Finanzas', N'89099004', N'recha@gmail.com', N'Software', N'Usuario', 1, N'1234')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Seguimientos] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (getdate()) FOR [FechaIngreso]
GO
ALTER TABLE [dbo].[Seguimientos]  WITH CHECK ADD FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([Id])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarTicket]    Script Date: 20/07/2025 20:33:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarTicket]
    @Id INT,
    @Tipo NVARCHAR(50),
    @Descripcion NVARCHAR(MAX),
    @Categoria NVARCHAR(50),
    @Estado NVARCHAR(50),
    @Evidencia VARBINARY(MAX),
    @SoportistaAsignadoId INT = NULL
AS
BEGIN
    UPDATE Tickets
    SET 
        Tipo = @Tipo,
        Descripcion = @Descripcion,
        Categoria = @Categoria,
        Estado = @Estado,
        Evidencia = @Evidencia,
        SoportistaAsignadoId = @SoportistaAsignadoId
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarUsuario]    Script Date: 20/07/2025 20:33:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Actualizar Usuario
CREATE PROCEDURE [dbo].[sp_ActualizarUsuario]
    @Id INT,
    @Nombre NVARCHAR(100),
    @Cedula NVARCHAR(20),
    @Departamento NVARCHAR(100),
    @Contacto NVARCHAR(20),
    @Correo NVARCHAR(100),
    @Tipo NVARCHAR(50),
    @Rol NVARCHAR(50),
    @Activo BIT
AS
BEGIN
    UPDATE Usuarios
    SET Nombre = @Nombre,
        Cedula = @Cedula,
        Departamento = @Departamento,
        Contacto = @Contacto,
        Correo = @Correo,
        Tipo = @Tipo,
        Rol = @Rol,
        Activo = @Activo
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarTicket]    Script Date: 20/07/2025 20:33:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Eliminar Ticket
CREATE PROCEDURE [dbo].[sp_EliminarTicket]
    @Id INT
AS
BEGIN
    DELETE FROM Tickets WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarUsuario]    Script Date: 20/07/2025 20:33:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarUsuario]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    -- En lugar de eliminar, solo desactivamos
    UPDATE Usuarios
    SET Activo = 0
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarSeguimiento]    Script Date: 20/07/2025 20:33:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ========================================
-- TABLA: SEGUIMIENTOS
-- ========================================

-- Insertar Seguimiento
CREATE PROCEDURE [dbo].[sp_InsertarSeguimiento]
    @TicketId INT,
    @Descripcion NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO Seguimientos (TicketId, Descripcion)
    VALUES (@TicketId, @Descripcion);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarTicket]    Script Date: 20/07/2025 20:33:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarTicket]
    @UsuarioId INT,
    @Tipo NVARCHAR(50),
    @Descripcion NVARCHAR(MAX),
    @Categoria NVARCHAR(50),
    @Estado NVARCHAR(50),
    @Evidencia VARBINARY(MAX),
    @SoportistaAsignadoId INT = NULL
AS
BEGIN
    INSERT INTO Tickets (UsuarioId, Tipo, Descripcion, Categoria, Estado, Evidencia, FechaIngreso, SoportistaAsignadoId)
    VALUES (@UsuarioId, @Tipo, @Descripcion, @Categoria, @Estado, @Evidencia, GETDATE(), @SoportistaAsignadoId);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarUsuario]    Script Date: 20/07/2025 20:33:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarUsuario]
    @Nombre NVARCHAR(100),
    @Cedula NVARCHAR(50),
    @Departamento NVARCHAR(100),
    @Contacto NVARCHAR(50),
    @Correo NVARCHAR(100),
    @Tipo NVARCHAR(50),
    @Rol NVARCHAR(50),
    @Activo BIT,
    @Contrasena NVARCHAR(100)  -- NUEVO
AS
BEGIN
    INSERT INTO Usuarios (Nombre, Cedula, Departamento, Contacto, Correo, Tipo, Rol, Activo, Contrasena)
    VALUES (@Nombre, @Cedula, @Departamento, @Contacto, @Correo, @Tipo, @Rol, @Activo, @Contrasena)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarBitacora]    Script Date: 20/07/2025 20:33:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarBitacora]
AS
BEGIN
    SELECT 
        B.Id,
        B.UsuarioId,
        U.Nombre AS NombreUsuario,
        U.Departamento,
        B.Tipo,
        B.Descripcion,
        B.Categoria,
        B.Estado,
        B.FechaIngreso,
        B.FechaFinalizado,
        B.SoportistaAsignadoId,
        S.Nombre AS NombreSoportista
    FROM BitacoraTickets B
    INNER JOIN Usuarios U ON B.UsuarioId = U.Id
    LEFT JOIN Usuarios S ON B.SoportistaAsignadoId = S.Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarSeguimientosPorTicket]    Script Date: 20/07/2025 20:33:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Listar Seguimientos por Ticket
CREATE PROCEDURE [dbo].[sp_ListarSeguimientosPorTicket]
    @TicketId INT
AS
BEGIN
    SELECT * FROM Seguimientos
    WHERE TicketId = @TicketId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarTickets]    Script Date: 20/07/2025 20:33:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarTickets]
AS
BEGIN
    SELECT 
        T.Id,
        T.UsuarioId,
        U.Nombre AS NombreUsuario,
        U.Departamento,
        T.Tipo,
        T.Descripcion,
        T.Categoria,
        T.Estado,
        T.FechaIngreso,
        T.SoportistaAsignadoId,
        S.Nombre AS NombreSoportista
    FROM Tickets T
    INNER JOIN Usuarios U ON T.UsuarioId = U.Id
    LEFT JOIN Usuarios S ON T.SoportistaAsignadoId = S.Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarUsuarios]    Script Date: 20/07/2025 20:33:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Listar Usuarios
CREATE PROCEDURE [dbo].[sp_ListarUsuarios]
AS
BEGIN
    SELECT * FROM Usuarios;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUsuario]    Script Date: 20/07/2025 20:33:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LoginUsuario]
    @Correo NVARCHAR(100),
    @Contrasena NVARCHAR(100)
AS
BEGIN
    SELECT * FROM Usuarios
    WHERE Correo = @Correo AND Contrasena = @Contrasena AND Activo = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_MoverTicketABitacora]    Script Date: 20/07/2025 20:33:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MoverTicketABitacora]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Insertar ticket en la bitácora
    INSERT INTO BitacoraTickets (Id, UsuarioId, Tipo, Descripcion, Categoria, Estado, Evidencia, FechaIngreso, SoportistaAsignadoId, FechaFinalizado)
    SELECT Id, UsuarioId, Tipo, Descripcion, Categoria, Estado, Evidencia, FechaIngreso, SoportistaAsignadoId, GETDATE()
    FROM Tickets
    WHERE Id = @Id;

    -- 2. Eliminar seguimientos relacionados
    DELETE FROM Seguimientos WHERE TicketId = @Id;

    -- 3. Eliminar ticket original
    DELETE FROM Tickets WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerTicketPorId]    Script Date: 20/07/2025 20:33:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerTicketPorId]
    @Id INT
AS
BEGIN
    SELECT 
        t.Id,
        t.UsuarioId,
        u.Nombre AS NombreUsuario,
        u.Correo AS CorreoUsuario,         -- ✅ Correo del usuario
        u.Departamento,                    -- ✅ Departamento del usuario
        t.Tipo,
        t.Descripcion,
        t.Categoria,
        t.Estado,
        t.FechaIngreso,
        t.Evidencia,                       -- ✅ Evidencia (imagen)
        t.SoportistaAsignadoId,
        s.Nombre AS NombreSoportista
    FROM Tickets t
    INNER JOIN Usuarios u ON t.UsuarioId = u.Id
    LEFT JOIN Usuarios s ON t.SoportistaAsignadoId = s.Id
    WHERE t.Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerUsuarioPorId]    Script Date: 20/07/2025 20:33:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Obtener Usuario por Id
CREATE PROCEDURE [dbo].[sp_ObtenerUsuarioPorId]
    @Id INT
AS
BEGIN
    SELECT * FROM Usuarios WHERE Id = @Id;
END;
GO
USE [master]
GO
